
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #444;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background: url("../immagini/hbkg.png") repeat-x scroll center bottom #DBDBDB;
  border-bottom: 10px solid #444444;
  padding: 40px 50px;
  position: relative;
  text-align: left;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}

@media only screen and (max-width: 767px) {
  #header {
    padding: 20px;
  }
}
